.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.car-image {
  transform: scale(1, 1);
  transition: 1s;
  overflow: visible;

}

.car-image :hover {
  transform: scale(1.25, 1.25);
  overflow: visible;
}

ol.carousel-indicators {
  position: absolute;
  top: -4vh;
  margin: 0;
  left: 70vw;
  right: 0;
  width: fit-content;
  height: fit-content;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  width: .5rem;
  height: .5rem;
  margin: 0;
  border-radius: 50%;
  border: 0;
  background: transparent;
}

ol.carousel-indicators li {
  background: rgba(255,255,255,0.39);
  margin-left: .5rem;
  margin-right: .5rem;
}

ol.carousel-indicators li.active {
  background: rgba(180, 3, 3, 0.726);
  margin-left: .5rem;
  margin-right: .5rem;
}